<section class="posts {{ classes }} py-8">
	<div class="posts__wrapper container">
		<header class="posts__header">
			<h3 class="posts__title">{{ heading }}</h3>
			<p class="posts__description">{{ description }}</p>
		</header>
		<div class="posts__list sm:flex sm:flex-wrap">
			{% if 'post' == post_type %}
				{% for post in posts %}
					<div class="posts__column w-full md:w-1/2 lg:w-1/3">
						{% include 'component/preview/preview.twig' with post only %}
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>
