<section class="posts">
	<div class="posts__wrapper">
		<header class="w-10/12 m-auto">
			<h3 class="posts__title">{{ heading }}</h3>
			<div class="posts__description">{{ content }}</div>
		</header>
		<div class="posts__list flex flex-wrap w-10/12 m-auto">
			{% if 'event' == post_type %}
				{% for event in events %}
					<div class="w-full md:w-1/2 lg:w-1/3">
						{% include 'component/preview/preview.twig' with event only %}
					</div>
				{% endfor %}
			{% endif %}
			{% if 'post' == post_type %}
				{% for post in posts %}
					<div class="w-full md:w-1/2 lg:w-1/3">
						{% include 'component/preview/preview.twig' with post only %}
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</section>
