<div aria-hidden="true" class="menu-mobile fixed top-0 right-0 z-50 h-100 w-11/12 bg-dark h-full py-4 px-4">
	<button class="menu-mobile__toggle menu-toggle p-5 self-end" data-action="close">
		<svg class="icon h-10 w-10">
			<use xlink:href="#icon-times"/>
		</svg>
	</button>
	<div class="mobile-menu__content">
		{% include "component/menu/menu.twig" with primary only %}
		{% include "component/menu/menu.twig" with secondary only %}
		{% include "component/search/search.twig" %}
	</div>
</div>
<button class="lg:hidden menu-toggle" data-action="open">
	<svg class="icon h-10 w-10">
		<use xlink:href="#icon-bars"/>
	</svg>
</button>
