{#{{ dump() }}#}
{% set base = 'ArchivePosts' %}
<div class="{{ base }}">
    <section class="posts">
        <div class="container">
            {% for post in posts %}}
                {% include "Components/SinglePreview/SinglePreview.twig" %}
            {% endfor %}
        </div>
    </section>

    <section class="{{ base }}__pagination">
        <div class="container">
            {% include "Components/Pagination/Pagination.twig" %}
        </div>
    </section>
</div>