.footer {
  background-color: $color-green;
  bottom: rem-calc(0);
  color: $color-white;
  height: rem-calc(500px);
  position: fixed;
  width: 100%;

  a {
    &:not(.large-arrow-link) {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  .footer-content-wrap {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    .footer-content {
      padding: rem-calc(0 30px);
      width: 100%;
      @include breakpoint(medium) {
        padding: rem-calc(0 20px);
      }

      .footer-top {
        .left-section {
          border-bottom: 1px solid $color-white;
          display: none;
          padding: rem-calc(60px 20px 80px 0);
          @include breakpoint(medium) {
            display: block;
          }

          #menu-footer-nav {
            float: left;
            margin: rem-calc(0);
            padding: rem-calc(0);

            li {
              display: inline-block;
              float: left;
              font-family: $font-aktiv;
              width: 50%;

              a {
                color: $color-white;
                padding: rem-calc(12px 0);
                text-transform: capitalize;
              }
            }
          }
        }

        .right-section {
          align-items: center;
          display: flex;
          @include breakpoint(medium) {
            border-bottom: 1px solid $color-white;
            border-left: 1px solid $color-white;
            justify-content: center;
          }

          a {
            color: $color-white;
          }
        }
      }

      .footer-bottom {
        align-items: center;
        margin: rem-calc(10px 0);
        text-transform: uppercase;

        ul {
          list-style-type: none;
          margin: rem-calc(0);
          padding: rem-calc(30px 0);
          @include breakpoint(medium) {
            padding: rem-calc(0);
          }

          li {
            float: left;
          }
        }

        .slash {
          color: $color-white;
          display: none;
          margin: rem-calc(0);
          @include breakpoint(medium) {
            display: block;
          }
        }

        .social-links {
          float: left;

          li {
            &:not(.slash) {
              margin: rem-calc(0);
              padding: rem-calc(10px 0);
              width: 50%;
              @include breakpoint(medium) {
                margin: rem-calc(0 15px);
                padding: rem-calc(0);
                width: auto;
              }

              &:first-child {
                margin: rem-calc(0);
                @include breakpoint(medium) {
                  margin: rem-calc(0 15px 0 0);
                }
              }

              a {
                color: $color-white;
                font-family: $font-gibson;
                font-size: rem-calc(12px);
                letter-spacing: 4.4px;
              }
            }
          }
        }

        .legal {
          @include breakpoint(large) {
            float: right;
          }

          li {
            color: $color-white;
            font-family: $font-gibson;
            font-size: rem-calc(9px);
            letter-spacing: rem-calc(3.3px);

            &:not(.slash) {
              margin: rem-calc(0);
              width: 100%;
              @include breakpoint(medium) {
                margin: rem-calc(0 15px);
                width: auto;
              }

              &:first-child {
                @include breakpoint(medium) {
                  margin: rem-calc(0 15px 0 0);
                }
              }

              &:last-child {
                @include breakpoint(medium) {
                  margin: rem-calc(0 0 0 15px);
                }
              }

              a {
                color: $color-white;
                display: inline-block;
                font-family: $font-gibson;
                font-size: rem-calc(9px);
                letter-spacing: rem-calc(3.3px);
                margin: rem-calc(0);
              }
            }
          }
        }
      }
    }
  }
}
