.logo {
  left: rem-calc(20px);
  position: absolute;
  top: rem-calc(20px);
  z-index: 9999999;

  &__link {
    display: block;
    position: relative;

    &::before {
      bottom: 0;
      content: '';
      left: 0;
      // hack to prevent clicks on svg directly
      position: absolute;
      right: 0;
      top: 0;
      z-index: 99;
    }
  }

  .svg {
    display: inline-block;
    width: auto;
  }

  path,
  g,
  polygon {
    transition: 0.2s fill ease;
  }

  &.white {
    path,
    g,
    polygon {
      fill: white;
    }
  }
}