{% set base = 'General' %}
{% set classes = [
    base~"--"~appearance,
    base,
] %}

{% set widths = {
    default: 'container-medium',
    wide: 'container',
    full: '',
} %}

<section class="{{ classes|join(' ') }}">
    <div class="{{ widths[block.align] is defined ? widths[block.align] : widths.default }}">
        {{ content }}
    </div>
</section>