// ===========================================================================
// Base Fonts
// NOTE: If you're adding another font mixin, you're probably doing it wrong. Default mixins: "font--base", "font--alternate", "font--accent"
// ===========================================================================

@mixin font--base {
  font-family: minion-pro, serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font--alternate {
  font-family: 'canada-type-gibson', sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: .03em;
}

@mixin font--accent {
  font-family: minion-pro, serif;
  font-weight: 800;
  font-style: italic;
}

// ===========================================================================
// Custom Mixins
// ===========================================================================
@mixin font--menu-item {
  @include font--alternate;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .18em;
  text-transform: uppercase;
}
@mixin font--headline {
  font-family: aktiv-grotesque, sans-serif;
  font-weight: 800;
}

@mixin font--label {
  @include font--alternate;
  letter-spacing: .16em;
  text-transform: uppercase;
}

@mixin font--label-alt {
  @include font--alternate;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .18em;
  text-transform: uppercase;
}

// ===========================================================================
// Font Mixins
// NOTE: If you're adding another font mixin, you're probably doing it wrong. Default mixins: "font--base", "font--alternate", "font--accent"
// ===========================================================================
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}