{#
/*
 * Available variables:
 * - video oEmbed
 * - classes - add classes as needed
 * - base - accepts the base class
 */
#}
{% set base = 'video' %}
{% set defaults = {
    base: 'video',
    classes: '',
} %}

{% set classes = [
    "#{base}__video",
    'embed-container',
] %}

<div class="{{ classes|join(' ') }}">
    {{ video }}
</div>