.ArchiveHeader {
  position: relative;
  margin-bottom: 5rem;

  &__inner {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }

  &__heading {
    background-color: $brand__light;
    padding: 1rem 2rem;
  }
}