@import "utils/variables";
@import "utils/mixins";

.Blurbs {
  $base: '.Blurbs';

  @include vertical-padding(4rem);

  &__text-wrapper {
    max-width: $width--line-length-medium;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    .button-primary {
      margin-bottom: 2em;
    }
  }

  &__heading,
  &__subheading {
    color: $brand__blue;
    margin: auto;
  }

  &__lead-in {
    font-size: 1em;
    margin-left: -1.5em; // size of padding on inner 
    @include for-tablet__landscape--up {
      margin-left: 0;
    }

  }

  &__heading {
    @include font--headline;
    margin-bottom: 1em;

    &.font-highlight {
      display: inline;
      position: relative;
      @include font--highlight;
      //margin-right: auto;
      //margin-left: auto;
      //padding: 0 .6em;
    }
  }

  &__heading-wrapper {
    // fixes stretching full width on ie11
    flex: 1 auto;
  }

  &__subheading {
    @include font--subheading-large-thin;
    padding-bottom: 1em;
  }

  // flex for icon and blurb-heading
  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: .5em;
  }

  // icon rules to get base margin
  &__image {
    display: block;
    flex-shrink: 0;
    margin-right: .8em;


    @include for-tablet__landscape--up {
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }
  }

  &__blurb {

  }

  // all blurbs flex
  &__blurb-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  // internal blurb flex
  &__blurb-inner {
    display: flex;
    flex-direction: column;
    @include for-tablet__landscape--up {
      flex-direction: row;
    }
  }

  &__blurb--1 {
    flex: 0 1 100%;
    max-width: 100%;

    #{$base}__title {
      margin-top: 1.1em;
      @include for-tablet__landscape--up {
        margin-top: 1.5em;
      }
    }


    #{$base}__blurb-inner {
      justify-content: space-between;

      & > * {
        flex: 0 1 48%;
      }
    }

    #{$base}__primary {

    }

    #{$base}__secondary {
    }

    #{$base}__blurb-secondary {
      ul {
        padding-left: .1em;
        padding-top: 1em;

        @include for-tablet__portrait--up {
          padding-left: 1em;
        }
        @include for-tablet__landscape--up {
          padding-top: 4em;

          columns: 2;
        }

        li {
          padding-left: 1em;
          padding-bottom: 0;
          margin-bottom: 1rem;

          &:before {
            background-color: $brand__dark;
          }
        }
      }
      & .button-primary {
        padding-left: .3em;

        @include for-tablet__portrait--up {
          padding-left: 1.4em;
        }
      }
    }

  }

  &__blurb--2 {
    @include for-tablet__portrait--up {
      flex: 1 49%;
      max-width: 48.8%;
    }

    & #{$base}__blurb {
      @include for-tablet__landscape--up {
        margin: .4rem;
      }
    }

    #{$base}__blurb-inner {
      flex-direction: column;
    }
    &.Blurbs__blurb--flat {
      @include for-tablet__portrait--up {
        flex: 1 47%;
        max-width: 47%;
      }
    }

  }

  &__blurb--3 {
    @include for-tablet__portrait--only {
      flex: 0 1 47%;
      max-width: 47%;
    }
    @include for-tablet__landscape--up {
      flex: 0 1 31%;
      max-width: 31%;
    }
  }


  &__blurb {
    display: block;
    box-sizing: border-box;
    margin: .7em 0;
    padding: 1em 1.5em 1.7em;
    @include for-tablet__landscape--up {
      margin: .7em;
    }
  }

  &__blurb-heading {
    @include font--base-larger;
    font-weight: 700;

  }

  // overrides for card
  &__blurb--card, &__blurb--post {
    $icon-size: 2.278em;
    $icon-margin: .8em;
    background-color: $brand__light;
    box-shadow: $box__shadow;

    #{$base}__blurb-heading {
      color: $brand__blue;
      @include font--alternate;
      @include heading--four;
      @include for-tablet__landscape--up {
        @include heading--three;
      }
    }

    #{$base}__image {
      max-width: $icon-size;
      margin-right: $icon-margin;
    }

    #{$base}__blurb-content {
      margin-top: 0;
      @include for-tablet__landscape--up {
        padding-left: $icon-size+$icon-margin;
      }
    }

    #{$base}__lead-in {
      @include font--highlight;
    }

  }

  &__blurb--card {
   &.Blurbs__blurb {
      @include for-tablet__landscape--up {
        margin: .6em 0;
      }
    }
  }

  &__blurb--post {
    padding: 2em 1.611em;

    #{$base}__blurb {
    }

    #{$base}__blurb-content {
      @include for-tablet__landscape--up {
        padding-left: 0;
      }
    }

    #{$base}__blurb-heading {
      padding-top: .5em;
    }

    #{$base}__title {
      margin-top: 0;
      @include for-tablet__landscape--up {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    #{$base}__image {
      width: 100%;
      max-width: inherit;
      max-height: inherit;
      margin-right: auto;
      margin-left: auto;
    }
  }

  &--card {
    > .container {
      @include for-desktop--up {
        max-width: 990px;
      }
    }
  }

  // overrides for flat

  &__blurb--flat {

    #{$base}__image {
      max-width: 3em;
      margin-bottom: .8em;

      @include for-tablet__landscape--up {
        margin-bottom: 0;
      }

    }

    #{$base}__blurb-heading {
      color: $brand__peach;
    }

  }

  &--flat {
    > .container {
      max-width: 1220px;
    }

    #{$base}__title {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: .4em;
      @include heading--four;

      @include for-tablet__landscape--up {
        flex-direction: row;
        align-items: center;
      }
    }

    #{$base}__blurb {
      padding: 0;
      margin-top: 1em;
      @include for-tablet__landscape--up {
        padding: 0 1em;
      }
    }

  }


  #{$base}__blurb-content {
    p {
      margin-bottom: 0;
    }
  }

  // ovrrides for appearance
  &--dark {
    background-color: $brand__gray--light;
  }

  &--light {
    background-color: $brand__light;
  }

}

.Blurbs__blurb--card.Blurbs__blurb--1 {
  .Blurbs__blurb-heading {
    @include font--alternate;
    @include heading--two;
    @include for-tablet__landscape--up {
      @include heading--two;
    }
  }
}

