.MenuPrimary {
  $base: &;
  $drop-down-padding: 2em;
  margin: 0;

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {
    margin-left: 2.4em;

    .DropDown {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      left: 0;
      width: 100vw;
      z-index: 100;
      transform: translateY(-10px);
      transition: transform .4s ease-in-out, opacity .3s ease-in-out;

      &__primary, &__secondary {
        transform: translateX(-10px);
        transition: transform .2s ease-in-out, opacity .3s ease-in-out;
        opacity: 0;
      }

      &__tertiary {
        opacity: 0;
        transform: all .2s ease-in-out;
      }
    }

    &:hover {
      .DropDown {
        opacity: 1;
        max-height: 400px;
        transform: translateY(0);

        &__primary, &__secondary {
          transform: translateX(0);
          opacity: 1;
          transition-delay: .2s;
        }

        &__secondary {
          transition-delay: .3s;
        }

        &__tertiary {
          opacity: 1;
        }
      }
    }
  }

  &__link {
    @include font--menu;
    margin: 0;
    padding-left: 0;
    margin-right: 1em;
    padding-top: $drop-down-padding;
    padding-bottom: $drop-down-padding;
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 2px;
      bottom: $drop-down-padding;
      left: 0;
      transition: 400ms ease all;
    }

    &:hover {
      color: $brand__blue;


      &:before {
        content: '';
        width: 100%;
        background-color: $brand__green;
      }
    }
  }

  .menu-item-has-dropdown {
    font-weight: 700;

    #{$base}__link {
      position: relative;

      // Peach Arrow
      &:after {
        $arrow-size: 0.444em;
        content: '';
        position: absolute;
        display: block;
        background-color: transparent;
        border: 2px solid $brand__peach;
        width: $arrow-size;
        height: $arrow-size;
        border-left: 0;
        border-top: 0;
        top: 43%;
        right: -.6em;
        transform: rotate(45deg) translate(50%,-50%);
      }
    }
  }

  .menu-item-has-children {
    font-weight: 700;
    position: relative;

    // Peach arrow
    &:after {
      content: '';
      position: absolute;
      display: block;
      border: 2px solid $brand__peach;
      width: 0.444em;
      height: 0.444em;
      border-left: 0;
      border-top: 0;
      top: 50%;
      right: 0;
      transform: rotate(45deg) translate(50%,-50%);
    }
  }

}