@font-face {
    font-family: 'Hoccen-Caps';
    src: url('Hoccen-Caps.eot');
    src: url('Hoccen-Caps.eot?#iefix') format('embedded-opentype'),
    url('Hoccen-Caps.woff2') format('woff2'),
    url('Hoccen-Caps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}