{% set base = 'MenuFooter' %}
{% set classes = [
    'menu',
    'FooterSocial',
    base
] %}

<nav id="menuFooter" class="{{ classes|join(' ') }}">
    {% include "Components/SocialMenu/SocialMenu.twig" with {
        items: items,
        base: base,
        classes: classes,
    } only %}
</nav>