.MenuFooter {

  &__list {
  }

  &__link, &__title {
    @include font--base;
    font-size: 1em;

    @include for-tablet__portrait--up {
      font-size: 1em;
    }
  }

  &__title {
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;

    @include for-tablet__landscape--up {
      font-size: 1em;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__link {
    display: block;
    color: $brand__light;
    margin-bottom: 1em;
    line-height: 1.25em;
    &:hover {
      color: $brand__peach;
    }

    @include for-desktop--up {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-right: .3em;
    }
  }

  &__title {
    color: $brand__peach;
    font-weight: 700;
  }

  &__tooltip {
    display: none;
    @include for-tablet__landscape--up {
      display: inline;
    }
    position: relative;
    border-radius: 3px;
    max-width: 7em;
    @include font--label;
    line-height: 1.7;
    color: $brand__blue;
    text-transform: unset;
    text-align: center;
    background-color: $brand__green;
    padding: .2em .5em;
    margin-left: 1em;

    &:after {
      @include for-tablet__landscape--up {
        content: '';
        display: block;
        position: absolute;
        @include heading--six;
        top: calc(50% - 4px);
        left: -4px;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-right: 4px solid $brand__green;
      }
    }
  }

  .SocialMenu__link {
    color: $brand__light;
    &.icon {
      color: $brand__light;
    }
  }
  .SocialMenu__list {
    columns: 1 !important;
  }

}