{#{{ dump() }}#}

{% set classes = [
    layout,
    width,
] %}
<section class="{{ classes|join(' ') }}">
    <div class="container">
        <div class="{{ layout }}__content">{{ content }}</div>
    </div>
</section>