#lp-informational {

  @include breakpoint(small only) {
    .image-content-right,
    .image-content-left {
      h2 {
        margin-top: 30px;
      }
    }

    .image-card {
      .card .column {
        padding: 30px;
      }

      .bg-cover {
        display: none;
      }
    }
  }

  .three-up {
    .item {
      display: inline-block;
      text-align: center;

      img,
      .animation {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 50%;
      }
    }
  }

  .image-card {
    .card {
      .columns {
        background-color: $color-white;
        padding: 70px;
      }
    }
  }

  .form {
    background-color: $color-blue;

    h2,
    label,
    input {
      color: $color-white !important;
    }

    #hs-form-holder {
      width: 100%;
    }
  }
}

// every color variable has been added for this initiative, prefaced by 'cheer-'

body[data-title='the-cheer-collective'] {
  // cheer colors

  .cheer-coral {
    color: $cheer-coral;
  }

  .cheer-yellow {
    color: $cheer-yellow;
  }

  .large-underline-yellow {
    background: $cheer-yellow;
  }

  .large-underline-orange {
    background: $cheer-coral;
  }

  .large-underline-none {
    background: transparent;
  }

  .image-content {
    padding: 2rem;
  }

  .image-content-container {
    position: relative;
  }

  .image-content-right .large-underline {
    bottom: 5px;
    height: 48%;
    position: absolute;
    right: 0;
    width: 16px;
  }

  .image-content-left .large-underline {
    bottom: 5px;
    height: 48%;
    left: 0;
    position: absolute;
    width: 16px;
  }

  .image-card .large-underline {
    height: 16px;
    left: 0;
    position: absolute;
    top: -16px;
    width: 39%;
  }

  .image-card .bg-cover-75.bg-left {
    right: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $cheer-navy;
    font-family: abril-text, serif;
    font-style: italic;
    font-weight: 800;
  }

  h2 {
    font-size: 45.2px;
  }

  h3 {
    font-size: 30.2px;
  }

  h4 {
  }

  h5 {
    color: $cheer-grey-blue-lt;
    font-size: 28px;
    line-height: 0.1;
  }

  .label {
    color: $cheer-coral;
    font-family: Canada Type Gibson, AktivGrotesk, sans-serif;
    font-weight: 500;
  }

  p {
    font-family: MinionPro, serif;
    font-size: 18px;
  }

  & p > strong {
    color: $cheer-navy;
    font-family: $font-gibson;
    font-weight: 500;
  }

  section.hero .hero-content p {
    &::before {
      border-top: 1px $cheer-yellow solid;
      content: '';
      display: block;
      padding-bottom: 1rem;
      width: 60px;
    }
  }

  .two-column-text {
    display: flex;
    flex-direction: column;

    & .header {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem 1rem;
    }
  }

  .two-column {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
      padding: 0 1rem;
    }

    @media screen and (min-width: 600px) {
      flex-direction: row;

      & > * {
        flex: 50%;
      }
    }
  }
}
