.article,
.news-article {
  border-bottom: 1px solid $color-light-blue-grey;
  padding-bottom: 5rem;
  padding-top: 3rem;
  transition: background 0.3s ease;

  &:hover {
    background-color: $color-light-blue-grey;
  }

  h3 {
    margin: 0;
  }

  h6 {
    margin-bottom: 1rem;
  }
}

.articles-container .article:first-child,
.news-container .news-article:first-child {
  padding-top: 0;
}
