.resources-hero {
  @include breakpoint(medium) {
    height: calc(75vh - 76px);
  }
  @include breakpoint(large) {
    height: calc(100vh - 76px);
  }

  .hero-content {
    background-color: $color-white;
    display: block;
    margin: rem-calc(42px 0 60px);
    position: relative;
    z-index: 2;
    @include breakpoint(medium) {
      padding: rem-calc(30px 30px 30px 15px);
    }
    @include breakpoint(large) {
      margin: rem-calc(0);
      padding: rem-calc(50px 35px);
    }

    .arrow-link {
      text-align: right;
    }
  }
}

.perspective-list {
  .section-title {
    text-align: left;
  }
}

.page-numbers {
  margin-bottom: 5rem;
  margin-top: 5rem;
  position: relative;

  @include breakpoint(small only) {
    .numbers {
      display: none;
    }
  }

  .page-number {
    color: $color-cool-grey;
    display: inline-block;
    height: 2rem;
    margin: 1rem;
    padding-left: 0.2rem;
    padding-top: 0.3rem;
    text-align: center;
    width: 2rem;
  }

  .left-arrow,
  .right-arrow {
    font-size: 2rem;
    line-height: 0;
    padding: 0 1.5rem;
  }

  .arrow {
    i {
      color: $color-green;
      position: relative;
      top: 7px;
    }
  }

  .active {
    border: 1px solid $color-green;
    border-radius: 50%;
    color: $color-green;
  }

  .group-numbers {
    background-color: $color-white;
    box-shadow: 0 0 10px rgba($color-black, 0.4);
    display: none;
    left: 50%;
    max-width: 600px;
    padding: 25px 10px;
    position: absolute;
    top: 60px;
    transform: translateX(-50%);
    width: 100%;

    a {
      height: auto;
      margin: 10px;
      padding: 0;
      text-align: center;
      width: auto;
    }

    &:hover {
      display: inherit;
    }
  }

  .group {
    display: inline-block;
    position: relative;

    &::after {
      color: $color-cool-grey;
      content: '...';
      display: inline-block;
      height: 2rem;
      margin: 1rem;
      padding-top: 0.3rem;
      padding-top: 0.2rem;
      text-align: center;
      width: 2rem;
    }

    &:hover {
      + .group-numbers {
        display: inherit;
      }

      &::after {
        color: $color-green;
      }
    }
  }
}

.filter-menu {
  .filter-menu-title {
    font-size: rem-calc(18px);
  }
}

//
// PERSPECTIVE BLOCK
//

.resources-list h2 {
  display: inline-block;
  margin-bottom: 2rem;
  margin-right: 1rem;
}

#paginate {
  margin: rem-calc(30px 0 0);
  position: relative;
  @include breakpoint(large) {
    margin: rem-calc(0);
  }

  .row:not(.small-up-1) {
    .column-block {
      &:nth-child(1),
      &:nth-child(2) {
        @include breakpoint(large) {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }
  }
}

.paginate-loading {
  background: rgba($color-white, 0.7);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  i {
    animation: paginate-loading 0.75s linear alternate infinite;
    font-size: 100px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
  }
}

@keyframes paginate-loading {
  from {
    // transform: translate(-50%,-50%) rotate(0deg);
    color: $color-blue;
  }

  to {
    color: $color-green;
  }
}

@include breakpoint(small only) {
  .side-menu-container {
    display: none;
  }
}

@include breakpoint(medium only) {
  .side-menu-container {
    display: none;
  }
}
