@import "utils/variables";
@import "utils/mixins";

.Featurette {
  $base: &;

  &--wide {
    max-width: $width--container;
    margin: auto;
  }

  @include vertical-padding(3em);

  background-color: $brand__blue;

  &--right {
    #{$base}__wrapper {
      flex-direction: column-reverse;

      @include for-tablet__landscape--up {
        flex-direction: row-reverse;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    @include for-tablet__landscape--up {
      flex-direction: row;
      padding: 0 3.5em;
    }
    & > * {
      flex: 1;
    }
  }

  &__primary {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    flex: 1 1 auto;

    @include for-tablet__landscape--up {
      margin-right: 1em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  &__image {
    max-width: 519px;

    @include for-tablet__landscape--up {
      min-height: 347px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__secondary {
    padding: 0 0 2em 0;
    flex: 1 1 auto;
    text-align: left;
    max-width: 28.778em;

    @include for-tablet__landscape--up {
      // padding-left: 1.3em;
      // padding-right: 1.3em;
    }
  }

  &__heading,
  &__subheading,
  &__content {
    color: $brand__light;
    @include for-tablet__landscape--up {
      @include font--base-larger;
    }
  }

  &__heading {
    @include font--headline;
  }

  &__subheading {
    @include font--subheading-large-thin;
  }

  &__content {
    margin-top: .8em;
    margin-bottom: 1.5em;

    @include for-tablet__landscape--up {
      margin-bottom: 2em;
      margin-top: 1em;
    }
  }


  &--image-layout {
    #{$base}__secondary {
      text-align: left;
      max-width: unset;
    }
  }

  &--wide {
    #{$base}__heading {
      @include font--subheading-medium;
    }
  }

}