{% set base = 'TopBar' %}
{% set classes = [
    base,
] %}
<section id="topBar" class="{{ classes|join(' ') }}">
    <div class="container">
        <div class="{{ base }}__primary">
            {% include 'Globals/MenuSecondary/MenuSecondary.twig' %}
        </div>
        <div class="{{ base }}__secondary">
            {% include 'Globals/MenuSocial/MenuSocial.twig' %}
        </div>
    </div>
</section>