.MenuMobile {

  .menu-item a {
    @include font--menu-item;
    color: $brand__light;
    font-size: 2em;
    padding: .8em 1em;
  }

  &__open {
    background-color: transparent;
  }

  &__inner {
    z-index: 900;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: -100%;
    width: 100%;
    overflow: hidden;
    transition: left 0s ease;
    transition-delay: .6s; // wait to hide
  }

  &[aria-hidden="false"] &__inner {
    left: 0;
    transition-delay: 0s; // wait to show
  }

  &__overlay {
    position: absolute;
    z-index: 925;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
    transition-delay: .3s; // wait to hide
  }

  &[aria-hidden="false"] &__overlay {
    opacity: 0.5;
    transition-delay: .1s; // wait to show
  }

  &__content {
    position: absolute;
    z-index: 950;
    background-color: $brand__dark;
    max-width: 80%;
    margin-left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: -100%;
    transition: .3s ease left;
    transition-delay: .1s; // wait to hide
  }

  &[aria-hidden="false"] &__content {
    transition-delay: .3s; // wait to show
    left: 0;
  }
}

