// ===========================================================================
// Base Fonts
// NOTE: If you're adding another font mixin, you're probably doing it wrong. Default mixins: "font--base", "font--alternate", "font--accent"
// ===========================================================================

@mixin font-base {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
}

@mixin font-alternate {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.053em;
}

@mixin font-accent {
  font-family: 'Helvetica';
  font-style: italic;
  font-weight: 400;
}
