@mixin vertical-padding($radius: 3rem) {
  padding-bottom: 3rem;
  padding-top: 3rem;
  @include for-tablet__landscape--up {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
}

@mixin container {
  margin-left: auto;
  margin-right: auto;
  max-width: $width--container;
  padding-left: 1.8em;
  padding-right: 1.8em;
  @include for-tablet__landscape--up {
    padding-left: 3em;
    padding-right: 3em;
  }
}
