.parallax-og,
.parallax {
  position: relative;
  //perspective: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}
.parallax {
  height: 100vh;
}

.parallax-1 {
  max-width: 300px;
  justify-content: flex-end;
  padding: 3em;
  background-color: pink;
}
.parallax-2 {
  position: absolute;
  padding: 3em;
  background-color: #0eb5d6;
}
.parallax-3 {
  width: 100%;
  position: absolute;
  z-index: -1;
  padding: 13em 3em;
  background: url("http://placehold.it/600x200") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

//.parallax__layer {
//  position: absolute;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  transform-origin-x: 100%;
//}
//.parallax__group {
//  position: relative;
//  height: 100vh;
//  //transform-style: preserve-3d;
//}
//.parallax__layer--back {
//  transform: translateZ(-1px) scale(2);
//}
//.parallax__layer--deep {
//  transform: translateZ(-2px) scale(3);
//}
//.parallax__layer--fancy {
//  transform: translateZ(-1px) scale(2);
//}
//
//.parallax-vanilla {
//  height: 100vh;
//  overflow-x: hidden;
//  overflow-y: auto;
//  position: relative;
//}
//.parallax-item {
//  position: absolute;
//  padding: 5em;
//  width: 45%;
//  margin-top: 30%;
//}