@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import './fonts';

/**
* Attempt to unset from WordPress
*/
.editor-styles-wrapper {
  .custom-block {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: auto !important;
    position: relative;
    width: 100% !important;

    &::before {
      bottom: 0;
      // content: ' '; // provides layer to prevent accidental clicks
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 200;
    }

    img {
      border-width: inherit;
    }

    button {
      align-items: flex-start;
      -webkit-appearance: unset;
      background-color: unset;
      border: unset;
      border-color: transparent;
      border-image: initial;
      border-radius: unset;
      border-style: solid;
      border-width: unset;
      color: unset;
      height: unset;
      letter-spacing: unset;
      margin: unset;
      padding: unset;
      text-align: unset;
      text-indent: unset;
      text-rendering: unset;
      text-shadow: none;
      text-transform: none;
      word-spacing: normal;
    }

    /**
    * Import styles
    */
    @import './base/*';
    @import './features/*';
    @import './wordpress/**/*';
    @import '../views/component/**/*';
  }
}


/**
* Misc
*/

.editor-styles-wrapper {
  ul {
    list-style-type: none !important;
  }
}

.acf-block-panel .acf-block-fields {
  margin: initial !important;
}
