.main__hero {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  max-height: 600px;
  display: flex;
  align-items: center;

  &__bg-video {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
    &:after {
      content: '';
      background-color: #000;
      opacity: .2;
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }
  &__content {
    max-width: 600px;
    padding: 4em;
  }
  &__card-title {
    @include font--headline;
    color: white;
    font-size: 4em;
  }
  &__description {
    color: white;
  }

}


.feat_case-study {
  $base: &;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 4em 0;
  min-height: 35em;

  &.alternate {
    flex-direction: row-reverse;

    #{$base}__primary {
      align-self: flex-end;
    }

    #{$base}__secondary {
      text-align: right;
      align-self: center;
    }

    #{$base}__title {
    }

  }

  &__secondary {
    align-self: flex-end;
  }

  &__primary {
    max-width: 450px;
    //transform: translateZ(1px);
  }

  &__subheader {
    @include font--label;
    font-size: .8em;
    font-weight: 400;
  }

  &__title {
    font-size: 2.8em;
    margin: .3em 0;
  }

  &__cta {
    margin-top: 2em;
  }

  &__testimonial {
    p {
      margin-top: 4em;
      font-size: 1.1em;
      font-style: italic;
      color: $brand__gray;
    }

    h6 {
      margin: .8em 0;
      color: $brand__gray;
    }
  }

  &__image {
    max-width: 900px;
    max-height: 400px;
    flex-basis: auto;
    overflow: hidden;
  }

  &__category {
    padding-top: 1em;
  }

  &__categories {
    @include font--label;
    font-size: .7em;

    span {
      padding: 0 .4em;
    }
  }

  &__awards {
    padding-top: .2em;

    span {
      a {
        padding: 0 1em;
        text-decoration: none;
      }
    }
  }

}

.feat-posts {
  &__primary {

  }

  &__secondary {

  }

  &__content {

  }
}

.feat-article {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  max-width: 1400px;

  &__primary {
    flex: 2;
    max-width: 800px;
    padding: 1rem;
  }

  &__secondary {
    flex: 1;
    max-width: 400px;
    padding: 1rem;
  }
}

.gallery-grid {
  margin: 3em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;

  &__item {
    display: flex;
    width: 100%;
    height: 260px;
    background: url('http://placehold.it/175x80');
    align-items: flex-end;
  }

  &__feat-img {
    display: block;
    width: 100%;
    grid-row: span 2;
  }

  &__title {
    padding: .8em;
  }
  &__category {

  }
  &__description {

  }
}
.specialization {
  background-color: $brand__gray;
  display: flex;
  flex-direction: column;
  text-align: left;

  &__card {
    max-width: 800px;
    p {
      max-width: 600px;
    }
  }

  &__secondary {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    h6 {
    }
  }

}