<section class="top-bar bg-dark pt-4 md:py-4">
	<div class="container text-light md:flex justify-between items-center">
		{% include "component/search/search.twig" %}
		{% include "component/menu/menu.twig" with menus.secondary only %}
	</div>
</section>
