.video {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__header {
    text-align: center;
  }

  &__title {
    margin-top: .3em;
    margin-bottom: .3em;
  }

  &__subtitle {
    margin-top: .3em;
    margin-bottom: .3em;
    @include font--base;
  }

  &__video {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    max-width: $width--normal;
    margin-left: auto;
    margin-right: auto;
  }
}