// Colors
$brand__light: #fff;
$brand__dark: #212721;
$brand__gray: #888b8d;
$brand__gray--dark: #53565a;
$brand__gray--light: #d9d9d6;
$brand__gray--lighter: #e9e9e9;
$brand__blue: cyan;
$brand--aqua: pink;
$brand--example: #333;

$drop__shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.12);

// Widths
$width--line-length: 40rem;
$width--normal: $width--line-length;
$width--wide: 77rem;
$width--full: 100%;

$width--container: $width--line-length;
