<section class="posts">
	<div class="container grid-max-3">
		<div class="grid-container">
			{% for post in posts %}
				<div class="grid-item">
					{% include 'component/preview/preview.twig' with post only %}
				</div>
			{% endfor %}
		</div>
	</div>
	{% include 'component/pagination/pagination.twig' with pagination only %}
</section>
