{# {{ dump() }} #}
<section class="cta {{ classes }} py-2 sm:py-4 md:py-5">
    <div class="px-2 sm:px-3 md:py-4">
        <h1>{{ heading }}</h1>
        <div>{{ content }}</div>
    </div>
</section>
