@import "utils/variables";
@import "utils/mixins";

.HeroForm {
  $base: &;
  padding-top: 5em;
  overflow: hidden;

  @include for-tablet__landscape--up {
    padding-top: 2em;
  }

  &--light {
    background-color: $brand__gray--light;
  }

  &--dark {
    background-color: $brand__blue;
  }


  /*
  //  If layout = 'homepage'
  //  Uses the following
  //  STYLES ...
  */
  &--homepage {
    $homepage_base: &;

    background-color: $brand__light;

    &--light {
      background-color: $brand__light;
    }

    &--dark {
      background-color: $brand__blue;

      #{$homepage_base}__heading, #{$homepage_base}__content {
        color: $brand__light;
      }

      .Home_Wave {
        path {
          fill: rgba(0, 0, 0, .2);
        }
      }
    }

    &__wrapper {
      position: relative;
      max-width: $width--medium;
      z-index: 3;
      padding-bottom: 2.5em;

      @include for-tablet__landscape--up {
        display: flex;
        align-items: center;
        padding-bottom: 0;
        & > * {
          flex: 1 100%;
        }
      }
    }

    &__primary {
      flex: 60%;
    }

    &__secondary {
      flex: 40%;

      @include for-tablet__landscape--up-to {
        flex: 100%;
        z-index: -1;
        position: relative;
        position: absolute;
        top: 25%;
        right: 50%;
      }
    }

    &__image {
      @include for-tablet__landscape--up-to {
        opacity: .2;
        transform: translate(50%, -50%) scale(1.8);
      }
    }

    &__form {
      max-width: 24.889em;
      padding-top: 1.75em;
    }

    &__lead-in {
      @include font--base-larger;
      color: $brand__dark;
      padding-top: 1em;
      padding-bottom: .7em;
    }

    &__animated-wrapper {
      position: relative;
      overflow: hidden;
      transition: height .2s ease-in-out;
      // min-height: 100px;

      // @include for-tablet__portrait--up {
      //   min-height: 175px;
      // }
    }

    &__animated-parent {
      width: 100%;
      // height: 100%;
      position: absolute;
      top: 0;
      opacity: 0;
      transform: translateX(-20px);
    }

    &__animated-text {
      @include font--headline--large;
      @include for-tablet__portrait--up {
        @include font--headline-xl;
      }
    }

    &__animated-background {
      position: absolute;
      height: 100%;
      width: 0;
      top: 0;
      background: $brand__peach;
    }

    &__heading {
      @include font--headline;
      @include for-tablet__portrait--up {
        @include font--headline-xl;
      }
    }

    &__animated-text {
      display: inline-block;
      color: $brand__peach;
      text-decoration: underline;
    }

    &__content {
      @include font--alternate;
      @include heading--three;
      color: $brand__blue;
      font-weight: 400;
    }

    &__grey-wave {
      width: 100%;
      padding-top: 3em;
      z-index: 1;
      position: relative;

      @include for-tablet__landscape--up {
        padding-top: 5em;
      }

      .Home_Wave {
        //flex: 1 1 100%;
        width: 100%;
        //height: 134px;
        // width: 140%;
        fill: $brand__gray--light;

        path{
          width: 100%;
        }
      }
    }
  }

  /*
//  If layout = 'product'
//  Uses the following
//  STYLES ...
*/
  &--product {
    $product_base: &;

    padding-top: 3em;
    padding-bottom: 2em;
    background-image: linear-gradient(to bottom,
            $brand__blue 20%, transparent 20%);

    @include for-tablet__portrait--up {
      background-image: linear-gradient(to right,
              transparent 70%, $brand__blue 30%);
      padding-top: 4em;
      padding-bottom: 2em;
    }

    & > .container {
      //max-width: $width--large;
    }

    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-right: auto;
      margin-left: auto;

      @include for-tablet__portrait--up {
        justify-content: space-between;
        flex-direction: row;
      }

    }

    &__primary {
      flex: 51%;
      flex-shrink: 0;
      margin-left: 1em;

      @include for-desktop--up {
        // added margin for strange off-center
        margin-left: 3.8em;
      }
    }

    &__secondary {
      flex: 41%;
      flex-shrink: 0;
      margin-bottom: 2em;

      @include for-desktop--up {
        margin-left: 2em;
      }
    }

    &__intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @include for-tablet__landscape--up {
        flex-direction: row;
      }

      & > * {
        // this removes shrink and keeps image right height/width
        flex: 0 100%;
      }

      .image__image {
        max-width: 2.25em;
        @include for-phone--only {
          margin-bottom: .8em;
        }
        @include for-tablet__landscape--up {
          margin-right: .5em;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__heading,
    &__content {
      text-align: center;
      @include for-tablet__landscape--up {
        text-align: left;
      }
    }

    &__heading {
      //@include font--subheading;
      @include font--headline;
    }

    &__content {
      @include font--alternate;
      @include font--headline;
      color: $brand__blue;
      font-weight: 400;
      margin: .3em auto;
      line-height: 1.3;
      // reset standard margin...
      p {
        margin-top: 0;
        margin-bottom: 1.4em;
      }
    }

    &__form {
      max-width: 450px;
    }

    &__lead-in {
      @include font--base-larger;
      color: $brand__blue;
      padding-top: .1em;
      padding-bottom: 0;
    }

    &__link {
      text-align: center;
      margin-bottom: 1em;
      @include for-tablet__landscape--up {
        text-align: left;
      }
    }

    &__image {
      position: relative;
      z-index: 10;
      max-width: 80%;
      margin-right: auto;
      margin-left: auto;

      @include for-tablet__landscape--up {
        max-width: 488px;
        //min-height: 397px;
      }

      img {
        width: auto;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        background-color: $brand__green;
        left: 10px;
        top: -10px;
        height: 97%;
        width: 99%;
        z-index: -1;
        @include for-tablet__landscape--up {
          left: 15px;
          top: -10px;
        }
      }

    }


    &--dark {
      background-color: transparent;
      background-image: linear-gradient(to bottom,
              transparent 20%, $brand__blue 20%);

      @include for-tablet__portrait--up {
        background-image: linear-gradient(to right,
                $brand__blue 70%, transparent 30%);
      }


      #{$product_base}__heading {
        @include font--headline;
      }

      #{$product_base}__heading,
      #{$product_base}__content {
        color: $brand__light;
      }

      #{$product_base}__lead-in {
        color: $brand__light;
      }

      .gform_wrapper {
        color: $brand__light;

        label {
          color: $brand__light;
        }

        .gfield_description {
          color: $brand__light !important;
        }
      }

      #{$product_base}__link {
      }
    }


  }

  &--left {
    $product_base: '.HeroForm--product';

    #{$product_base}--product__wrapper {
      @include for-tablet__portrait--up {
        flex-direction: row;
      }
    }

    &.HeroForm--dark {
      #{$product_base}__intro {
        flex-direction: row;
      }

      .image__image {
        margin-right: .8em;
        margin-bottom: .4em;
      }

      #{$product_base}__heading,
      #{$product_base}__content,
      #{$product_base}__link {
        text-align: left;
      }
    }
  }

  &--right {
    $product_base: '.HeroForm--product';

    #{$product_base}__wrapper {
      @include for-tablet__portrait--up {
        flex-direction: row-reverse;
      }
    }


  }

}
// Overrides for Layout & Color for HeroForm--Product
// Combining 3 variables to get the right gradients on desktop
//
.HeroForm--product--dark.HeroForm--product.HeroForm--right {
  @include for-tablet__portrait--up {
    background-image: linear-gradient(to left,
            $brand__blue 70%, transparent 30%);
  }
}
.HeroForm--product--light.HeroForm--product.HeroForm--right {
  @include for-tablet__portrait--up {
    background-image: linear-gradient(to left,
            transparent 70%, $brand__blue 30%);
  }
}
