<section class="bottom-bar bg-dark text-light">
	<div class="container py-4">
		<div class="bottom-bar__wrapper md:flex items-center justify-between">
			<div class="bottom-bar__primary">
				<p class="bottom-bar__copyright text-sm font-primary mb-0">{{ copyright }}</p>
			</div>
			<div class="bottom-bar__secondary">
				{% include "component/menu/menu.twig" with menus.details only %}
			</div>
		</div>
	</div>
</section>
