.Header {
  $base: &;

  z-index: 150;
  position: relative;
  background: $brand__light;

  & > .container {
    max-width: $width--medium;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    //& > * {
    //  flex: 0 auto;
    //}
  }

  &__mobile-header {
    display: flex;
    padding: 1em .9em;
    background-color: $brand__blue;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-wrapper {
  }

  &__mobile-logo {
    max-width: 4.750em;

    .Elexio-Logo {
      fill: $brand__blue;
    }

    svg {
      width: 100%;
    }
  }

  &__heading-ad {
    background-color: $brand__blue;
    color: $brand__light;
    padding: 0 1.6em 2em;
    margin: 0 auto;
    @include font--alternate;
    @include heading--three;
    color: $brand__light;

    p {
      margin: 0;
    }
  }

  &__cta {
    padding: 2em 0 .5em;
    display: flex;
    justify-content: center;

    .button-secondary span {
      @include font--base;
      font-weight: 700;
      font-size: 1.4em;
    }
  }

  &__logo {

    .Elexio-Logo {
      fill: $brand__blue;
      transition: all .2s ease-in-out;
    }

    svg {
      max-width: 103px;
      max-height: 35px;
      width: 100%;
      height: 100%;

      @include for-tablet__landscape--up {
        max-width: 163px;
        max-height: 140px;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__menu-wrapper {
    flex: 4;
  }

  #menuMobileHeader {
    position: relative;
    z-index: 100;
    background: $brand__light;
    transition: all .2s ease-in-out;

    #menuMobileToggle {
      path {
        fill: $brand__blue;
      }
    }

    &.active {
      background: transparent;

      .Elexio-Logo {
        fill: $brand__light;
      }
      .st2 {
        fill: $brand__light !important;
      }

      #menuMobileToggle {
        path {
          fill: $brand__green;
        }
      }
    }
  }
}