{# Can't tell if we actually need this block... but just in case...#}

{% set base = 'Blockquote' %}
<section>
    <div class="container">
        <blockquote>
            Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. <strong>Nullam id dolor id</strong> nibh ultricies vehicula ut id elit.
        </blockquote>
    </div>
</section>