@import "utils/variables";
@import "utils/mixins";

.ComparisonCards {
  $base: &;
  @include vertical-padding();

  &__header {
    max-width: $width--line-length;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;

  }

  &__heading {
    @include font--headline;
  }

  &__content {
    padding-bottom: 1em;
  }

  // ToDO -- refactor this rule it's too powerful:
  & p {
    margin: 0.3em auto;
  }

  &__card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $width--medium;
    margin-left: auto;
    margin-right: auto;

    @include for-tablet__landscape--up {
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    & > * {
      margin: 1em .2em;

      @include for-tablet__landscape--up {
        flex: 0 31%;
      }
    }

  }

  &__card {
    width: 100%;
    max-width: 327px;
    box-shadow: $box__shadow;
    background-color: $brand__light;
    text-align: center;
    padding: 2em 1em 4.5em;
    @include for-tablet__landscape--up {
      padding: 2em 1em 4em;
    }

  }

  &__card-leadin {
    @include font--base;
    font-size: 1.28em;
    font-weight: 400;
    color: $brand__dark;
  }

  &__image {
    margin-top: 1em;

    &.icon {
      height: 5em;
      width: 5em;

      @include for-tablet__landscape--up {
        height: 4.1em;
        width: 4.1em;
      }
      img {
        width: 100%;
      }
    }
  }

  &__card-heading {
    @include font--headline;
    color: $brand__blue;
  }

  &__card-footnote {
    @include font--base;
  }

  &__card-content {
    max-width: 200px;
    color: $brand__peach;
    @include font--alternate;
    font-weight: 700;
    padding-top: 1em;
    padding-bottom: 1em;
  }


  &__card-list {
    margin-top: .4em;
    max-width: 98%;

    p {
      text-align: left;
      padding-left: 1.7em;
      padding-bottom: .5em;

      @include for-tablet__landscape--up {
        padding-left: 1.7em;
      }
    }
  }
  &__checkmark {
    padding-right: 1em;
    padding-left: 1.2em;

    svg {
      max-width: 1.333em;
      max-height: 1.333em;
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    margin-top: 3em;
  }

  &--light {
    background-color: $brand__gray--light;
  }

  &--dark {
    background-color: $brand__blue;

    #{$base}__heading,
    #{$base}__content {
      color: $brand__light;
    }
  }

}