.Hero {
  @include vertical-padding;
  position: relative;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  &__background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    overflow: hidden;
  }

  &__inner {
    position: relative;
    z-index: 10;
    max-width: $width--normal;
    margin-right: auto;
    margin-left: auto;
    @include for-tablet__landscape--up {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__button {
    margin-left: 0;
  }
}