@import "utils/variables";
@import "utils/mixins";

.Pagination {
  padding-bottom: 2em;
  
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__prev {
    transform: rotate(180deg);
  }

  &__pages {
    display: flex;
    padding: 0 !important;
  }

  &__page {
    margin: 0 .25em .25em !important;
    padding: 0 !important;
    
    a, span {
      color: $brand__blue;
      font-weight: 700;
      text-decoration: none;
      padding: .25em !important;
      
      &.current {
        border-bottom: solid 2px $brand__peach;
      }
    }

    &::before {
      display: none;
    }
  }
}