.Single {
  &__header {
    padding-bottom: 3rem;
  }

  &__intro {
    padding: 2rem 0 2rem;
    max-width: $width--wide;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &__archive-link {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__title {

  }

  &__content {
    max-width: 44rem;
    margin-left: auto;
    margin-right: auto;
  }

  .terms {
    justify-content: center;
  }
}