* {
  box-sizing: border-box;
  // sass-lint:disable-block no-venddor-prefixe
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// shouldn't, but idgaf. ugly is ugly.

:focus {
  outline: 0;
}

a {
  text-decoration: none !important;
  transition: all 200ms;
}

body,
html {
  float: left;
  margin: 0;
  //overflow-x: hidden;
  position: relative;
  width: 100%;
}

img {
  height: auto;
  width: 100%;

  &.alignleft {
    float: left;
    margin: 15px 15px 15px 0;
    width: auto;
  }

  &.alignleft {
    float: right;
    margin: 15px 0 15px 15px;
    width: auto;
  }

  &.aligncenter {
    display: block;
    margin: 15px auto;
    width: auto;
  }
}

body {
  margin: rem-calc(0 0 500px);

  #stage {
    min-height: 100vh;
  }

  &:not(#front-page) {
    #stage {
      padding-top: rem-calc(76px);
    }
  }

  &:not(#default-work) {
    .module {
      opacity: 0;
      position: relative;
      //transform: translateY(rem-calc(80px));
      top: rem-calc(80px);
      transition: all 800ms;
      visibility: hidden;
      z-index: 1;

      &.is-active {
        opacity: 1;
        top: rem-calc(0);
        visibility: visible;
      }
    }
  }

  &#default-work {
    .module {
      .section-content {
        opacity: 0;
        position: relative;
        //transform: translateY(rem-calc(80px));
        top: rem-calc(80px);
        transition: all 800ms;
        visibility: hidden;
        z-index: 1;
      }

      &.is-active {
        .section-content {
          opacity: 1;
          //transform: translateX(0);
          top: rem-calc(0);
          visibility: visible;
        }
      }
    }
  }

  &:not(#front-page):not(#culture) {
    .hero {
      .bg-cover {
        @include breakpoint(small only) {
          height: rem-calc(320px);
          position: relative;
        }
      }
    }
  }

  .expanded {
    .column-block {
      &:first-child {
        .office-item {
          margin-left: rem-calc(0);
        }
      }

      &:last-child {
        .office-item {
          margin-right: rem-calc(0);
        }
      }
    }
  }
}

.sp-m {
  &-small {
    margin-bottom: rem-calc(20px);
    margin-top: rem-calc(20px);
    @include breakpoint(medium) {
      margin-bottom: rem-calc(30px);
      margin-top: rem-calc(30px);
    }
  }

  &-medium {
    margin-bottom: rem-calc(30px);
    margin-top: rem-calc(30px);
    @include breakpoint(medium) {
      margin-bottom: rem-calc(60px);
      margin-top: rem-calc(60px);
    }
  }

  &-large {
    margin-bottom: rem-calc(40px);
    margin-top: rem-calc(40px);
    @include breakpoint(medium) {
      margin-bottom: rem-calc(90px);
      margin-top: rem-calc(90px);
    }
  }

  &-xlarge {
    margin-bottom: rem-calc(50px);
    margin-top: rem-calc(50px);
    @include breakpoint(medium) {
      margin-bottom: rem-calc(120px);
      margin-top: rem-calc(120px);
    }
  }
}

.sp-p {
  &-small {
    padding-bottom: rem-calc(20px);
    padding-top: rem-calc(20px);
    @include breakpoint(medium) {
      padding-bottom: rem-calc(30px);
      padding-top: rem-calc(30px);
    }
  }

  &-medium {
    padding-bottom: rem-calc(30px);
    padding-top: rem-calc(30px);
    @include breakpoint(medium) {
      padding-bottom: rem-calc(60px);
      padding-top: rem-calc(60px);
    }
  }

  &-large {
    padding-bottom: rem-calc(40px);
    padding-top: rem-calc(40px);
    @include breakpoint(medium) {
      padding-bottom: rem-calc(90px);
      padding-top: rem-calc(90px);
    }
  }

  &-xlarge {
    padding-bottom: rem-calc(50px);
    padding-top: rem-calc(50px);
    @include breakpoint(medium) {
      padding-bottom: rem-calc(120px);
      padding-top: rem-calc(120px);
    }
  }
}

section {
  position: relative;

  &.hero {
    .hero-content {
      padding-left: rem-calc(15px);
      padding-right: rem-calc(15px);
      @include breakpoint(medium) {
        margin: rem-calc(0);
      }

      h1 {
        margin: rem-calc(15px 0 20px);
      }

      p {
        margin: rem-calc(0);
        @include breakpoint(medium) {
          max-width: 75%;
        }
      }

      .hero-meta {
        margin: rem-calc(0 0 20px);

        span {
          color: $color-cool-grey;
          font-family: $font-minion;
          font-size: rem-calc(14px);
          line-height: 2.07;
          margin: rem-calc(0);
        }
      }
    }
  }

  &.panel {
    .bg-image {
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      position: absolute;
      right: rem-calc(0);
      width: 100%;
    }
  }

  .section-content {
    padding: rem-calc(0 15px);
  }

  .section-title {
    margin-bottom: rem-calc(40px);
    @include breakpoint(medium) {
      text-align: center;
    }

    * {
      display: inline-block;
      margin: rem-calc(0);
    }

    a {
      margin: rem-calc(0 0 0 20px);
    }

    &.section-title-border {
      padding: rem-calc(20px 0);
      position: relative;
      text-align: left;

      &::after {
        border-bottom: rem-calc(1px) solid $color-light-blue-grey;
        bottom: rem-calc(0);
        content: '';
        left: rem-calc(0);
        margin: rem-calc(0 15px);
        position: absolute;
        right: rem-calc(0);
      }
    }
  }
}

figure {
  display: block;
  margin: rem-calc(0);
  max-width: 100%;

  &.figure-image {
    .expanded & {
      margin: rem-calc(0 -15px);
      max-width: none;
      width: auto;
    }

    a {
      display: flex;
      height: 100%;
      width: 100%;
    }

    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }

    &-bg-small {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      //padding-bottom: 60%;
      height: rem-calc(220px);
      margin: rem-calc(0 0 30px);
      @include breakpoint(medium) {
        height: rem-calc(300px);
      }
    }

    &-bg-large {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      //padding-bottom: 100%;
      height: rem-calc(290px);
      margin: rem-calc(0 0 30px);
      @include breakpoint(medium) {
        height: rem-calc(370px);
      }
    }

    &-bg-xlarge {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      //padding-bottom: 100%;
      height: rem-calc(500px);
      margin: rem-calc(0 0 30px);
      @include breakpoint(medium) {
        height: rem-calc(770px);
      }
    }
  }

  &.figure-video {
    video {
      box-shadow: 0 10px 20px rgba($color-black, 0.2),
        0 6px 6px rgba($color-black, 0.2);
      display: block;
      max-width: 100%;
      width: 100%;

      .expanded & {
        box-shadow: none;
      }
    }
  }
}

.bg-theme:not(.sp-off-up) + .bg-theme {
  padding-top: rem-calc(0);
}

#stage {
  background: $color-white;
  float: left;
  //overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;

  ul:not(.inputs-list):not(.listing):not(.menu):not(.category-options):not(.talents-nav):not(.article-list) {
    li {
      &::before {
        content: $ionicon-var-bullet;
        display: inline-block;
        font-family: $ionicons-font-family;
        font-size: rem-calc(8px);
        line-height: 1.78;
        margin: rem-calc(0 10px 0 0);
        position: relative;
        top: rem-calc(-2px);
      }
    }
  }

  > section {
    &:last-child {
      //margin-bottom: rem-calc(30px);
    }
  }
}

#footer-reveal {
  height: rem-calc(500px);
}

.column-block {
  margin: rem-calc(0 0 40px);
  @include breakpoint(medium) {
    margin: rem-calc(0 0 60px);
  }
}

.bottom-line {
  background: $color-blue;
  display: block;
  height: rem-calc(1px);
  margin: rem-calc(0 0 30px);
  width: rem-calc(30px);

  &.green {
    background: $color-green;
  }
}

.bottom-line-small {
  background: $color-blue;
  display: block;
  height: rem-calc(1px);
  margin: rem-calc(0 0 10px);
  width: rem-calc(20px);

  &.green {
    background: $color-green;
  }
}

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: rem-calc(0);
  left: rem-calc(0);
  position: absolute;
  right: rem-calc(0);
  top: rem-calc(0);
  z-index: -1;

  @include breakpoint(medium) {
    &-50 {
      &.bg-left {
        left: 0;
        right: 50%;
      }

      &.bg-right {
        left: 50%;
        right: 0;
      }
    }

    &-75 {
      &.bg-left {
        left: 0;
        right: 25%;
      }

      &.bg-right {
        left: 25%;
        right: 0;
      }
    }
  }

  * {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  &.bg-left {
    left: 0;
  }

  &.bg-right {
    right: 0;
  }
}

.block-reveal {
  .block-reveal-content {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .block-reveal-element {
    background: $color-white;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.arrow-right {
  border-bottom: 20px solid transparent;
  border-left: 20px solid $color-white;
  border-top: 20px solid transparent;
  display: inline-block;
  height: 0;
  width: 0;
  z-index: 1;
}

.arrow-left {
  border-bottom: 20px solid transparent;
  border-right: 20px solid $color-white;
  border-top: 20px solid transparent;
  display: inline-block;
  height: 0;
  width: 0;
  z-index: 1;
}

.arrow-down {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $color-white;
  display: inline-block;
  height: 0;
  width: 0;
  z-index: 1;
}

.arrow-up {
  border-bottom: 20px solid $color-white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  display: inline-block;
  height: 0;
  width: 0;
  z-index: 1;
}

.page-title {
}

.page-numbers {
  text-align: center;
}

.border-list {
  @include breakpoint(medium) {
    text-align: center;
  }

  .column-block {
    &:not(:first-child) {
      @include breakpoint(medium) {
        border-left: solid 1px $color-light-blue-grey;
      }
    }

    a {
      display: block;
      @include breakpoint(medium) {
        padding: rem-calc(0 15px);
      }

      p {
        margin: rem-calc(0);
      }
    }
  }
}

.post-article {
  > a {
    display: block;

    &:hover {
      opacity: 0.8;
    }
  }

  .post-header {
    text-align: center;
  }

  .post-intro {
  }

  .post-image {
    //margin: rem-calc(40px 0);
  }

  .post-meta {
    span {
      color: $color-cool-grey;
      font-family: $font-minion;
      font-size: rem-calc(14px);
      line-height: 2.07;
      margin: rem-calc(0);
    }
  }

  .post-content {
    line-height: 2.11;

    img,
    .wistia_responsive_padding {
      margin: rem-calc(60px 0);
      width: 100%;
    }
  }

  .post-footer {
    margin: rem-calc(120px 0);

    .post-cta {
      a {
        font-size: rem-calc(40px);
      }
    }

    .post-social {
    }
  }

  .columns {
    max-width: $width--normal;
    width: 100%;
  }
}

// color swatches

.swatch {
  border: solid 1px #dedede;
  color: $color-medium-grey;
  font-family: $font-aktiv;
  font-size: 13px;
  font-weight: light;
  margin: 0.5rem;
  min-height: 5rem;
  padding: 0;

  .info {
    padding: 0.25rem 0.5rem;
  }

  .color {
    border-bottom: solid 1px #dedede;
    height: 8rem;
  }

  .title {
    color: $color-dark-grey;
    font-size: 15px;
    font-weight: bold;
  }

  .hex {
    text-transform: uppercase;
  }
}

//
// FONTS
//

.ui-link-hover {
  background-color: lighten($color-green, 40%);

  &.blue {
    background-color: lighten($color-blue, 40%);
  }
}

//
// INPUT STATES
//

// input type=text set as class so normal input type=text still available

.hs-form {
  fieldset {
    display: block;
    margin: 0;
    max-width: 100% !important;
    padding: 0;
    width: 100%;
  }

  .field {
    display: block;
    margin: rem-calc(0 0 25px);
    min-height: rem-calc(60px);
    position: relative;

    > label {
      padding: 0;
    }

    .input {
      position: relative;
      z-index: 2;
      @include breakpoint(large) {
        max-width: rem-calc(400px);
      }

      input {
        position: relative;
        z-index: 2;
      }

      + label {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }

  .form-columns-1 {
    .field {
      float: none !important;
      width: 100% !important;
    }
  }

  .form-columns-2 {
    .field {
      @include breakpoint(large) {
        float: left !important;
        width: 50% !important;
      }
    }
  }

  .input {
    margin: rem-calc(0);
  }
}

.aside {
  margin: rem-calc(30px 0 0);
  @include breakpoint(medium) {
    margin: rem-calc(0);
  }
}

.hs-error-msgs {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;

    &::before {
      display: none !important;
    }

    label {
      color: $color-red;
      font-family: $font-minion-it;
      font-size: rem-calc(12px);
      font-style: italic;
      letter-spacing: 0;
      line-height: 1;
      padding: 0;
      text-align: right;
    }
  }
}

.text-input {
  display: inline-block;
  margin: 0;
  margin-bottom: rem-calc(5px);
  padding: 0;
  position: relative;
  vertical-align: top;
  width: 100%;

  .text-input__label-invalid {
    bottom: -rem-calc(25px);
    color: $color-red;
    font-family: $font-minion-it;
    font-size: rem-calc(16px);
    font-style: italic;
    letter-spacing: 0;
    line-height: 1;
    position: absolute;
    text-transform: capitalize;
    visibility: hidden;
  }

  // &::after {
  //     font-family: "Ionicons";
  //     content: $ionicon-var-close;
  //     position: absolute;
  //     font-size: 1rem;
  //     line-height: 1em;
  //     right: 0;
  //     top: 50%;
  //     transform: translateX(-50%);
  //     color: $color-red;
  //     visibility: hidden;
  // }

  &.invalid {
    &::after {
      visibility: visible;
    }

    .text-input__label-invalid {
      visibility: visible;
    }
  }
}

.text-input__field,
.text-input input {
  -webkit-appearance: none; /* for box shadows to show on iOS */
  background: transparent;
  border: none !important;
  box-shadow: none !important;
  color: $color-medium-grey;
  font-family: $font-minion;
  font-size: rem-calc(18px);
  line-height: 1.78;
  position: relative;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.text-input__label,
.text-input + label {
  span {
    bottom: 0;
    color: $color-cool-grey;
    display: inline-block;
    font-family: $font-gibson;
    font-size: 12px;
    left: 0;
    letter-spacing: 4.4px;
    line-height: 1.75;
    padding: 0;
    pointer-events: none;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }
}

.text-input + label span {
  display: block;
  position: absolute;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

.text-input,
.text-input--focused,
.text-input--filled {
  &::before,
  &::after {
    border-bottom: 1px solid $color-light-blue-grey;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &::after {
    border-bottom: 4px solid $color-green;
    height: 95%;
    transition: width 0.3s ease-in-out;
    width: 0;
  }
}

.text-input__field:focus + .text-input__label::after,
.text-input--focused::after {
  width: 100%;
}

.text-input__field:focus + .text-input__label .text-input__label-content,
.text-input--focused + label span,
.text-input--filled .text-input__label-content,
.text-input--filled + label span {
  top: -20px;
}

.hs-form-required {
  display: none !important;
}

@keyframes text-input-anim {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1rem, 0, 0);
    transform: translate3d(1rem, 0, 0);
  }

  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1rem, -95%, 0);
    transform: translate3d(-1rem, -95%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -95%, 0);
    transform: translate3d(0, -95%, 0);
  }
}

// Text Area

textarea {
  background-color: transparent;
  border: 1px solid $color-light-blue-grey;
  display: block;
  font-family: $font-minion !important;
  font-size: rem-calc(16px) !important;
  line-height: 1.25 !important;
  min-height: rem-calc(130px);
  padding: rem-calc(16px);
  position: relative;
  resize: none;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 20;
  @include breakpoint(large) {
    max-width: rem-calc(400px);
  }

  &:focus {
    outline: 0;
  }

  &::after {
    border-bottom: 1px solid $color-light-blue-grey !important;
    content: '';
  }

  &::placeholder {
    color: $color-cool-grey;
    font-family: $font-minion-it;
    font-size: rem-calc(16px);
    font-style: italic;
    line-height: 1.25;
  }
}

.textarea-input__label {
  color: $color-cool-grey;
  font-family: $font-gibson;
  font-size: rem-calc(12px);
  letter-spacing: 4.4px;
  line-height: 1.75;
  padding: rem-calc(0 16px);
  text-transform: uppercase;
}

//
// SELECT DROPDOWNS
//

.select-input {
  background: transparent;
  border-bottom: solid 1px $color-light-blue-grey;
  color: $color-cool-grey;
  cursor: pointer;
  font-family: $font-gibson;
  font-size: 12px;
  height: 1.5rem;
  margin-right: 0;
  padding: 0;
  position: relative;
  @include breakpoint(large) {
    max-width: rem-calc(300px);
  }

  select {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }

  &::after {
    content: $ionicon-var-dropdown;
    font-family: $ionicons-font-family;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:focus {
    outline: 0;
  }

  .select-input__label {
    height: 100%;
    left: 0;
    letter-spacing: 4.4px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
  }

  .select-input__options {
    background-color: $color-white;
    box-shadow: 0 2px 14px 0 rgba(210, 210, 210, 0.7);
    position: relative;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;
    z-index: 1000;

    ul {
      border-top: 3px solid $color-green;
      height: auto;
      list-style: none;
      margin: 0;
      max-height: 250px;
      opacity: 1;
      overflow: scroll;
      padding: 0;
      transition: all 0.3s ease-in-out;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        overflow-x: hidden;
      }
    }

    li {
      color: $color-medium-grey;
      font-family: $font-minion;
      font-size: 18px;
      letter-spacing: none;
      line-height: 1.78;
      padding: 0.5rem 1rem;

      &:hover {
        background-color: lighten($color-green, 40%);
      }
    }

    &.closed {
      background-color: none;
      box-shadow: none;

      ul {
        border-top: 0 solid $color-green;
        // opacity: 0;
        max-height: 0;
      }
    }
  }
}

.inputs-list:not(.hs-error-msgs) {
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0;
}

// prettier-ignore
.hs_what_services_are_you_interested_in_ > label {
  @extend .label;
  @extend .label-black;
}

//
// Checkboxes
//

.checkbox-input,
.inputs-list:not(.hs-error-msgs) li {
  line-height: 1;
  margin: rem-calc(0);

  &::before {
    display: none;
  }

  input[type='checkbox'],
  input[type='radio'] {
    -webkit-appearance: none;
    display: inline-block;
    opacity: 0;
    position: absolute;
  }

  .checkbox-input__label,
  label span {
    align-items: center;
    display: flex;

    &::before {
      background-color: transparent;
      border: 1px solid $color-light-blue-grey;
      content: '';
      height: rem-calc(15px);
      margin: rem-calc(8px 8px 8px 0);
      min-width: rem-calc(15px);
      text-align: center;
      transition: background-color 0.2s ease-in-out;
      vertical-align: middle;
      width: rem-calc(15px);

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: inline-block;
      }
    }
  }
}

.inputs-list li input[type='radio'] + span::before {
  border-radius: 50%;
}

input.checkbox-input__field:checked + .checkbox-input__label::before,
.inputs-list li input[type='checkbox']:checked + span::before,
.inputs-list li input[type='radio']:checked + span::before {
  background-color: $color-green;
  color: $color-white;
  content: $ionicon-var-checkmark;
  font-family: $ionicons-font-family;
  font-size: rem-calc(12px);
  line-height: 1.25;
  text-align: center;
}

.has-tooltip {
  position: relative;

  .tooltip {
    background-color: $color-white;
    border-radius: rem-calc(3px);
    box-shadow: 0 2px 29px 0 rgba(216, 224, 236, 0.65);
    left: 0;
    padding: rem-calc(10px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    p.tooltip-content {
      margin: 0;
      padding: rem-calc(0 10px);
    }

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &.arrow-left {
        left: rem-calc(-15px);
      }

      &.arrow-right {
        right: rem-calc(-15px);
      }
    }

    &.hidden {
      opacity: 0;

      &.right {
        left: 160%;
      }

      &.left {
        right: 160%;
      }
    }

    &.right {
      left: 140%;
      transition: all 0.3s ease-in-out;
    }

    &.left {
      right: 140%;
      transition: all 0.3s ease-in-out;
    }
  }
}

//
// Filter Side Menu
//

.filter-menu,
.side-menu {
  background-color: $color-white;
  box-shadow: 0 2px 35px 0 $color-light-blue-grey;
  padding: 1rem;

  section {
    border-top: solid 1px #e8eef4;
    padding: 3rem 0;
  }

  .filter-menu-title,
  .filter-category,
  .side-menu-category .category-label {
    border-bottom: solid 1px $color-off-white;
    padding-bottom: rem-calc(18px);
  }

  ul {
    padding: 0; //dumb opinionated foundation
  }

  // INSIDE FILTER MENU SPEIFIC CHECKBOX CHANGES

  .checkbox-input__label {
    color: $color-cool-grey;
    cursor: pointer;
    font-family: $font-minion-it;
    font-size: 16px;
    font-style: italic;
    line-height: 1.25;
    padding-left: 20px;
    position: relative;
    transition: all 0.2s ease-in-out;

    &::before {
      border: 1px solid $color-light-blue-grey;
      content: '';
      height: 0;
      left: 0;
      margin: 0 !important;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.2s ease-in-out;
      vertical-align: middle;
      width: rem-calc(8px);
    }
  }

  input.checkbox-input__field:checked + .checkbox-input__label::before {
    background-color: $color-green;
    content: '';
    height: rem-calc(8px);
  }

  input.checkbox-input__field:checked + .checkbox-input__label {
    color: $color-medium-grey;
    font-style: normal;
  }

  .checkbox-input__label:hover {
    color: $color-medium-grey;
  }
}

.category-label {
  //have to use important to get around dumb foundation requirements for a tags
  color: $color-blue !important;
  font-family: $font-gibson !important;
  font-size: 12px !important;
  letter-spacing: 4.4px;
  line-height: 1.75 !important;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: transparent !important;
  }

  &::after,
  &::before {
    content: '+';
    margin-right: 1em;
  }

  &::after {
    display: none !important;
  }
}

[aria-expanded='true'] .category-label::before {
  content: '\2013';
  margin-right: 1.2em;
}

//
// Sticky Side Menu
//

.side-menu-container {
  display: inline-block;
  min-height: 20rem;
}

.side-menu {
  //margin-top: 5rem;

  ul {
    margin-bottom: 2rem;
  }

  // INSIDE FILTER MENU SPECIFIC CHECKBOX CHANGES

  .category-options li {
    a {
      color: $color-cool-grey;
      font-family: $font-minion-it;
      font-size: 16px;
      font-style: italic;
      line-height: 1.25;
      padding: 10px 0;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &::before {
        background-color: transparent;
        content: '';
        display: inline-block;
        height: rem-calc(8px);
        margin: 0;
        position: relative;
        text-align: center;
        top: -2px;
        transition: all 0.3s ease-in-out;
        vertical-align: middle;
        width: rem-calc(0);
      }

      &.active::before,
      &:hover::before {
        background-color: $color-green;
        margin-right: rem-calc(10px);
        width: rem-calc(8px);
      }

      &.active {
        color: $color-medium-grey;
        font-size: 18px;
        font-style: normal;
      }

      &:hover:not(.active)::before {
        background-color: $color-cool-grey;
      }
    }
  }

  a.button {
    font-size: 18px;
    line-height: 1.5em;
    margin: 15px !important;
  }
}

.loading {
  background-color: $color-green;
  bottom: 0;
  left: 0;
  position: fixed;
  right: auto;
  top: 0;
  // transition: .7s width cubic-bezier(0.02, 0.71, 0.42, 1.07);
  transition: 0.6s width ease-in-out;
  width: 0;
  z-index: 9999999;

  &.stage-one {
    width: 100%;
  }

  &.stage-two {
    left: auto;
    right: 0;
  }

  &.stage-three {
    width: 0;
  }
}

@keyframes overlay {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  51% {
    left: auto;
    right: 0;
  }

  100% {
    width: 0;
  }
}

@keyframes colorchangingblue {
  0% {
    background: darken($color-blue, 7%);
  }

  100% {
    background: lighten($color-blue, 7%);
  }
}

@keyframes colorchanginggreen {
  0% {
    background: darken($color-green, 7%);
  }

  100% {
    background: lighten($color-green, 7%);
  }
}

.svg {
  position: relative;

  svg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.stat-block {
  .stat-info {
    p {
      margin: 0;

      strong {
        @extend .h2;
        color: $color-green !important;
      }
    }
  }
}

//
// Slide Out Menu
//

#slide-out-menu {
  display: none;

  @include breakpoint(medium) {
    bottom: 0;
    display: flex;
    left: -75px;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }

  &.showing {
    left: 0;
  }

  .tooltip {
    white-space: nowrap;
  }

  .menu-container {
    background-color: $color-white;
    box-shadow: 0 0 30px 0 $color-light-blue-grey;

    a {
      .nav-button {
        border-top: 1px solid $color-light-blue-grey;
        color: $color-green;
        font-size: rem-calc(24px);
        padding: rem-calc(20px 25px);
        text-align: center;

        i.pyxl-eye {
          font-size: 28px;
          line-height: 1em;
          position: relative;
          top: 8px;
        }
      }

      &:first-child .nav-button {
        border: none;
      }
    }
  }
}

//
// grid Info Popups
//

.grid-list {
  position: relative;
  text-align: center;

  .medium-text {
    margin: rem-calc(0);
  }

  .column-block {
    margin: rem-calc(0);
    padding: rem-calc(0);
    transition: all 200ms;
    @include breakpoint(medium) {
      // border-right: rem-calc(1px) solid $color-light-blue-grey;
      // border-bottom: rem-calc(1px) solid $color-light-blue-grey;
    }

    @include breakpoint(small only) {
      .grid-popup {
        padding: 20px !important;
      }
    }

    &:hover {
      //position: relative;
      //box-shadow: 0 0 40px rgba($color-black, 0.2);
      //z-index: 1;
    }

    &:active {
      //box-shadow: 0 0 40px rgba($color-black, 0.3);
    }

    .figure-image img {
      height: auto;
      width: 75%;
    }

    .grid-info {
      .columns {
        &:first-child {
          p {
            margin: rem-calc(0);

            + p {
              font-size: rem-calc(16px);
            }
          }
        }
      }
    }

    // @include breakpoint(small only) {

    //     .grid-info .columns:first-child {
    //         margin-bottom: 30px;
    //     }

    //     &:nth-child(3n+1) {

    //         .grid-popup {

    //             &:before {
    //                 left: 45%;
    //             }
    //         }
    //     }

    //     &:nth-child(3n+2) {

    //         .grid-popup {

    //             &:before {
    //                 left: 45%;
    //             }
    //         }
    //     }

    //     &:nth-child(3n+3) {

    //         .grid-popup {

    //             &:before {
    //                 left: 45%;
    //             }
    //         }
    //     }
    // }

    > a {
      display: block;
      padding: rem-calc(20px);

      &:hover,
      &.active {
        img {
          -webkit-filter: none;
          filter: none;
          opacity: 1;
        }
      }

      img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.75;
        transition: all 200ms;
      }
    }

    .grid-popup {
      background: $color-white;
      box-shadow: 0 0 40px rgba($color-black, 0.2);
      left: rem-calc(0);
      opacity: 0;
      padding: rem-calc(30px 50px);
      position: absolute;
      text-align: left;
      transform: translateY(20px);
      transition: all 200ms;
      visibility: hidden;
      width: 100%;
      z-index: 1;

      &::before {
        border-bottom: rem-calc(15px) solid $color-white;
        border-left: rem-calc(20px) solid transparent;
        border-right: rem-calc(20px) solid transparent;
        content: '';
        display: inline-block;
        height: 0;
        position: absolute;
        top: rem-calc(-15px);
        width: 0;
        z-index: 1;
      }

      &.active {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }

      ul {
        float: left;
        width: 100%;

        li {
          @include breakpoint(medium) {
            float: left;
            width: 50%;

            &:nth-child(odd) {
              padding: rem-calc(0 30px 0 0);
            }
          }
        }
      }
    }

    @media only screen and (max-width: 1023px) {
      &:nth-last-child(-n + 2) {
        border-bottom: none;

        .grid-popup {
          &.active {
          }
        }
      }

      &:nth-child(2n) {
        border-right: none;
      }

      &:nth-child(2n + 1) {
        .grid-popup {
          &::before {
            left: 22%;
          }
        }
      }

      &:nth-child(2n + 2) {
        .grid-popup {
          &::before {
            left: 73%;
          }
        }
      }
    }

    @media only screen and (min-width: 1024px) {
      &:nth-last-child(-n + 3) {
        border-bottom: none;

        .grid-popup {
          &.active {
          }
        }
      }

      &:nth-child(3n) {
        border-right: none;
      }

      &:nth-child(3n + 1) {
        .grid-popup {
          &::before {
            left: 15%;
          }
        }
      }

      &:nth-child(3n + 2) {
        .grid-popup {
          &::before {
            left: 48%;
          }
        }
      }

      &:nth-child(3n + 3) {
        .grid-popup {
          &::before {
            left: 82%;
          }
        }
      }
    }
  }
}

//
// slick slider
//

.slick-slider {
  box-sizing: border-box;
  display: block;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  left: 0;
  position: relative;
  top: 0;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {

  display: none;
  float: left;
  height: 100%;
  min-height: 1px;

  [dir='rtl'] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    display: none;
  }

  .slick-vertical & {
    border: 1px solid transparent;
    display: block;
    height: auto;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.search-results {
  .post-article {
    margin-top: 80px;
  }

  .nav-links {
    margin: 100px 0;
    text-align: center;

    a,
    span {
      font-size: 18px;
      margin: 0 10px;
      vertical-align: middle;
    }

    a {
      color: $color-medium-grey;
    }

    .current {
      color: $color-green;
      position: relative;

      &::before {
        border: 1px solid $color-green;
        border-radius: 50%;
        content: '';
        height: 25px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 25px;
      }
    }

    .prev,
    .next {
      color: $color-green;

      span {
        position: relative;
        transition: all 0.3s ease-in-out;

        &::before {
          font-size: 25px;
          position: relative;
          top: 1px;
        }
      }
    }

    .prev {
      span {
        right: 0;

        &:hover {
          right: 5px;
        }
      }
    }

    .next {
      span {
        left: 0;

        &:hover {
          left: 5px;
        }
      }
    }
  }
}

.search-no-results {
  .searchform {
    label,
    [type='submit'] {
      display: none;
    }

    [type='text'] {
      border: 1px solid #13ce66;
      font-size: 14px;
      padding: 10px;
      width: 290px;
    }
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.single-post .post-article {
  .figure-image {
    @media screen and (min-width: 1000px) {
      margin: 2rem calc((#{$width--normal} - #{$width--wide}) / 2);
      max-width: 100vw;
      width: $width--wide;
    }
  }
}

#wpadminbar {
  position: fixed;
  top: 0;
  z-index: 999999999;
}

.footer,
.nav {
  opacity: 1;
  transition: 1s opacity ease;
}

body.view-is-loading {
  .footer,
  .nav {
    opacity: 0;
  }

  #wrapper::before {
    bottom: 0;
    content: '';
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2147483647;
  }
}
