/* Text styles */

body {
  counter-reset: numberedheader;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &.green {
    color: $color-green;
  }

  &.blue {
    color: $color-blue;
  }
}

h1,
.h1 {
  color: $color-black;
  font-family: $font-aktiv;
  font-size: rem-calc(36px);
  font-weight: 500;
  line-height: 1.42;
  margin: rem-calc(0 0 20px);
  @include breakpoint(medium) {
    font-size: rem-calc(44px);
    line-height: 1.39;
  }

  &.reveal-page-title {
    display: inline-block;
  }
}

.cta-text {
  color: $color-green;
  font-family: $font-aktiv;
  font-size: rem-calc(40px);
  font-weight: 500;
}

h2,
.h2 {
  color: $color-black;
  font-family: $font-aktiv;
  font-size: rem-calc(28px);
  font-weight: 500;
  line-height: 1.5;
  margin: rem-calc(0 0 20px);
  @include breakpoint(medium) {
    font-size: rem-calc(36px);
    line-height: 1.42;
  }

  &.mobile {
    font-size: rem-calc(30px);
    line-height: 1.5;
    text-align: center;
    text-align: left;
  }
}

h3,
.h3 {
  color: $color-black;
  font-family: $font-aktiv;
  font-size: rem-calc(24px);
  font-weight: 500;
  line-height: 1.5;
  margin: rem-calc(0 0 20px);
  @include breakpoint(medium) {
    font-size: rem-calc(24px);
    line-height: 1.5;
  }
}

h4,
.h4 {
  color: $color-black;
  font-family: $font-aktiv;
  font-size: rem-calc(22px);
  font-weight: 500;
  line-height: 1.5;
  margin: rem-calc(0 0 20px);
}

h5,
.h5 {
  color: $color-black;
  font-family: $font-aktiv;
  font-size: rem-calc(18px);
  font-weight: 500;
  line-height: 1.67;
  margin: rem-calc(0 0 10px);
}

h6,
.h6 {
  color: $color-blue;
  font-family: $font-gibson;
  font-size: rem-calc(12px);
  font-weight: 400;
  letter-spacing: 4.4px;
  line-height: 1.75;
  margin: rem-calc(0 0 10px);
  text-transform: uppercase;
}

p,
.p,
li {
  color: $color-medium-grey;
  font-family: $font-minion;
  font-size: rem-calc(18px);
  line-height: 1.78;
  margin: rem-calc(0 0 20px);

  // &.longform {
  //     line-height: 2.11;
  // }

  // &.short {
  //     line-height: 1.67;
  // }

  // &.small-text {
  //     font-size: rem-calc(16px);
  // }

  // &.no-spacing {
  //     margin: 0;
  // }
}

ol {
  list-style: none;
  margin: rem-calc(40px 0);
  padding: rem-calc(0);

  li {
    counter-increment: step-counter;
    padding: rem-calc(0 0 30px 40px);
    position: relative;

    &::before {
      border: 2px solid;
      border-radius: 50%;
      color: $color-green;
      content: counter(step-counter);
      font-family: $font-aktiv;
      font-size: rem-calc(14px);
      font-weight: 700;
      height: rem-calc(24px);
      left: 0;
      position: absolute;
      text-align: center;
      top: rem-calc(3px);
      width: rem-calc(24px);
    }
  }
}

ul {
  margin: rem-calc(40px 0);
  padding: rem-calc(0);

  li {
    list-style: none;
    position: relative;
  }
}

blockquote {
  color: $color-dark-grey;
  font-family: $font-minion;
  font-size: rem-calc(36px);
  line-height: 1.5;
  margin: rem-calc(0 0 20px);
  position: relative;

  &::before {
    color: $color-blue;
    content: $ionicon-var-quote;
    font-family: $ionicons-font-family;
    font-size: rem-calc(26px);

    @media only screen and (min-width: 1300px) {
      left: rem-calc(-50px);
      position: absolute;
      top: rem-calc(-10px);
    }
  }

  cite {
    @extend h6;
    display: block;
    font-style: normal;

    &::before {
      content: $ionicon-var-bullet;
      font-family: $ionicons-font-family;
      margin: rem-calc(0 10px 0 0);
      position: relative;
    }
  }
}

.medium-text {
  color: $color-dark-grey;
  font-family: $font-minion;
  font-size: rem-calc(22px);
  line-height: 1.82;
}

.large-text {
  color: $color-dark-grey;
  font-family: $font-minion;
  font-size: rem-calc(36px);
  line-height: 1.5;
}

.label {
  @extend h6;
  display: block;

  &-black {
    color: $color-black;
  }
}

.inactive-text {
  color: $color-cool-grey;
  font-family: $font-minion-it;
  font-size: rem-calc(16px);
  font-style: italic;
  line-height: 1.88;
}

.author-text {
  color: $color-medium-grey;
  font-family: $font-minion;
  font-size: rem-calc(16px);
  line-height: 1.62;
}

.link,
p > a:not(.button) {
  color: $color-green;
  font-family: $font-minion;
  font-size: rem-calc(16px);
  line-height: 2.38;
  position: relative;

  &::after {
    background-color: lighten($color-green, 40%);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    transition: top 0.2s ease-in-out;
    z-index: -1;
  }

  &:hover {
    &::after {
      top: rem-calc(0);
    }
  }

  &.blue {
    color: $color-blue;

    &::after {
      background-color: lighten($color-blue, 40%);
    }
  }
}

.nav-items {
  color: $color-dark-grey;
  font-family: $font-aktiv;
  font-size: rem-calc(14px);
  font-weight: 500;
  text-align: center;
}

.numbered-header {
  counter-increment: numberedheader;
  position: relative;

  &::before {
    border: 2px solid $color-green;
    border-radius: 50%;
    color: $color-green;
    content: counter(numberedheader);
    font-size: 14px;
    height: 25px;
    left: -50px;
    line-height: 23px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
  }

  &.numbered-header-reset {
    counter-reset: numberedheader;
  }
}

.xtra-lg-text {
  color: $color-dark-grey;
  font-family: $font-aktiv;
  font-size: 72px;
  font-weight: 500;
  line-height: 0.71;

  &.green {
    color: $color-green;
  }
}

.sub-info {
  color: $color-cool-grey;
  font-family: $font-minion;
  font-size: 14px;
  line-height: 2.07;
}

.scroll {
  @extend .link;
  display: inline-block;
  margin-top: rem-calc(15px);

  &:hover {
    cursor: pointer;

    &::after {
      display: none;
    }
  }

  &::before {
    border: rem-calc(2px) solid $color-green;
    content: $ionicon-var-download-arrow;
    display: inline-block;
    font-family: $ionicons-font-family;
    height: rem-calc(25px);
    line-height: 25px;
    margin-right: rem-calc(10px);
    padding: rem-calc(0 0 0 1px);
    text-align: center;
    width: rem-calc(25px);
  }
}

// .js-active .reveal-page-title {
//   opacity: 0;
// }

// .view-is-loading {

// }
