// Our variables
@import 'vars';

// @import "typography";

.mce-menu {
  overflow: visible !important;
}

.mce-menu-item {
  position: relative;
}

span.tag-tooltip {
  background: $color-green;
  border-radius: 3px;
  box-shadow: -5px 0 10px rgba($color-black, 0.2);
  color: $color-white;
  left: 90%;
  opacity: 0;
  padding: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;

  &.show {
    display: inherit;
    left: 95%;
    opacity: 1;
  }
}

.acf-editor-wrap[data-toolbar='very_simple'] {
  iframe {
    height: 50px !important;
    min-height: 50px;
  }
}

// indicates what the %%place_form_here%% tag does

#hs-form-holder::before {
  color: $color-white;
  content: 'Replaced with form - ONLY USE ON EVENT TEMPLATE';
}
