.header {
  &--light {
    @apply bg-light;
  }

  a {
    text-decoration: none;
    @apply font-primary;
  }

  .logo {
    * {
      @apply text-primary-dark;
      @apply fill-current;
    }
  }
}

body.sticky-header .header {
  margin-bottom: -100%;

  .admin-bar & {
    top: 32px;
  }
}
