{#
/*
 * Available variables:
 * - image { 'src', 'alt', sizes{} }
 * - heading
 * - content
 * - asset_type 'video' or 'image'
 * - image { src, alt, sizes }
 * - video - oEmbed
 * - icon - { 'src', 'alt', sizes{} }
 * - appearance - 'light' 'dark'
 * - alignment - 'left' 'center'
 * - block.align - 'full' 'wide'
 */
#}


{% set defaults = {
    image: {
        url: '#',
        alt: '',
    },
    icon: {
        url: '#',
        alt: '',
    },
    heading: '',
    content: '',
    layout: 'primary',
    appearance: 'light',
    alignment: 'center',
} %}

{% set image = image ?: defaults.image %}
{% set heading = heading ?: defaults.heading %}
{% set content = content ?: defaults.content %}
{% set icon = icon ?: default.icon %}
{% set layout = layout ?: default.layout %}
{% set appearance = appearance ?: default.appearance %}
{% set alignment = alignment ?: default.alignment %}

{% set base = 'HeroForm' %}
{% set classes = [
    base~"--"~appearance,
    base~"--"~layout,
    base~"--"~layout~"--"~appearance,
    base~"--"~alignment,
    base,
] %}

<section class="{{ classes|join(' ') }}">
	{% if layout == 'homepage' %}
		{% include 'Blocks/HeroForm/HeroHomepage.twig' with {
            heading: heading,
            animated_text:animated_text,
            content: content,
            lead_in: lead_in,
            form: form,
            footnote: footnote,
            image: image,
            appearance: appearance,
        } %}
	{% endif %}
	{% if layout == 'product' %}
		{% include 'Blocks/HeroForm/HeroProduct.twig' with {
            heading: heading,
            animated_text:animated_text,
            content: content,
            lead_in: lead_in,
            form: form,
            footnote: footnote,
            image: image,
            appearance: appearance,
        } %}
	{% endif %}
</section>
